footer {
  display: flex;
  flex-direction: column;
  align-self: center;
  gap: 10px;
  width: 80%;
  border-top: 1px solid #ec9a9a56;
  padding-top: 25px;
  color: $accent;
  font-size: $small;
  font-weight: 400;

  .contact-me {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    color: $clear-ligth;
    align-self: center;

    .contact-link {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 5px;
      color: $clear-ligth;
      transition: color 200ms ease-in;
      font-size: xx-large;

      &:hover {
        color: $ligth-main;
        transition: color 200ms ease-in;
      }
    }
  }

  .update-info {
    align-self: center;
    margin-top: 10px;

    p {
      color: $accent-ligth;
    }
  }
}