.heading {
    color: $ligth-main;
    font-size: $main-heading;
    font-weight: 700;
}

.subheading {
    color: $clear-ligth;
    font-size: $sub-heading;
    font-weight: 600;
    margin-bottom: 10px;
}